/* stylelint-disable declaration-no-important */
$black: #000;
$white: #e9e9e9;
$red: #af0000;
$translucent-1: #000000c0;
$translucent-2: #0000009a;

:root {
	--accent-color-1: #61d800;
	--accent-color-2: #c8ff00;
	--back-color-1: #535353;
	--back-color-2: #2e2e2e;
	--back-color-3: #1f1f1f;
}

@media ( max-width: 600px ) {
	.hide-small {
		display: none !important;
	}
}

@media ( max-width: 992px ) and ( min-width: 601px ) {
	.hide-medium {
		display: none !important;
	}
}

@media ( min-width: 993px ) {
	.hide-large {
		display: none !important;
	}
}

html {
	height: 100%;
}

body {
	display: flex;

	flex-direction: column;

	height: 100%;

	margin: 0;

	overflow: hidden;
}

.tabs {
	display: flex;

	flex-direction: column;

	width: 100%;
	height: 50px;

	.tab-btns {
		display: flex;

		flex-direction: row;

		width: 100%;
	}

	.marquee {
		width: 100%;

		overflow: hidden;

		p {
			width: max-content;

			margin: 0;

			transform: translateX( 100% );

			animation: scroll-left 20s linear infinite;

			text-align: center;
		}
	}

	.playing-notif {
		display: none;

		width: 100%;
		height: 50%;
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX( 100% );
	}

	100% {
		transform: translateX( -100% );
	}
}

.tab-view {
	display: flex;

	width: 100%;
	min-height: calc( 100% - 100px );

	.tab-cont {
		display: none;

		position: relative;

		flex-direction: column;

		width: 100%;
		height: calc( 100% - 50px );

		overflow: hidden;
	}

	.tab-cont.active {
		display: flex;
	}

	.browse-cont {
		.browse-cats {
			display: flex;

			flex-direction: row;
		}

		.browse-disp {
			display: flex;

			flex-direction: row;

			height: 100%;

			overflow: hidden;

			.view {
				display: flex;

				flex-grow: 1;

				width: 100%;
				height: 100%;

				.view-extra {
					display: flex;

					flex-direction: column;

					width: 100%;
					height: 100%;

					overflow: hidden;

					.path-bar {
						display: flex;

						flex-direction: row;

						height: 40px;
					}

					.file-view {
						display: flex;

						width: 100%;
						height: calc( 100% - 40px );

						overflow-x: hidden;
						overflow-y: auto;
					}

					.file-view.list {
						flex-direction: column;

						.dir-item {
							padding: 10px;

							border-bottom: 1px solid var( --back-color-2 );
						}
					}
				}

				.file-view.grid {
					flex-wrap: wrap;
				}
			}

			.browse-sidebar {
				display: flex;

				width: 300px;
				height: calc( 100% - 40px );

				.sidebar-extra {
					display: flex;

					flex-direction: column;
					align-items: center;

					width: 100%;
					height: 100%;

					padding: 20px;

					.picture {
						display: flex;
						align-items: center;
						justify-content: center;

						width: 100%;
						height: 200px;

						border-radius: 10px;

						font-size: 5em;
					}
				}
			}
		}
	}

	.playing-cont {
		flex-direction: column;

		.media-item {
			display: flex;

			flex-direction: row;

			width: 100%;

			border-bottom: 1px solid var( --accent-color-2 );
		}
	}
}

.controls {
	display: flex;

	position: absolute;

	bottom: 0;
	left: 0;

	flex-direction: column;

	width: 100%;
	min-height: 50px;

	.prog-bar {
		display: flex;

		flex-direction: row;

		width: 100%;
		height: 10px;

		.media-time,
		.media-len {
			padding: 0;

			font-size: 1em;
		}

		.marker-cont {
			display: flex;

			flex-grow: 1;
			align-items: center;

			height: 100%;
		}

		.marker {
			height: 100%;

			border-right: 2px solid var( --accent-color-2 );

			background: transparent;

			color: transparent;
		}
	}

	.btns {
		display: flex;

		flex-direction: row;
		justify-content: center;

		width: 100%;
		height: 40px;
	}
}
